@use './variables' as *;

.error-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page__text {
  margin: 20px 0 69px;
  font-size: 20px;
  font-weight: $font-weight-medium;
}