$font-base: 'Inter', sans-serif;
$font-weight-medium: 500;
$font-weight-semibold: 600;


$color-blue: #3369F3;
$color-text: #1E1E1E;
$color-grey: #999999;
$color-background:#FBFBFB; 
$color-search-background: #EFEFEF;
$color-line: #EAEAEA;