@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.profile-field {
  width: 510px;
  margin-bottom: 10px;
  margin-top:  10px;
  @include flex-row-between;
}

.profile-field__label{
  font-size: 13px;
  font-weight: $font-weight-semibold;
  color: $color-text
}
.profile-field__input{
  border: none;
  text-align: right;
  color: $color-grey;
  cursor: default;
  

  &:focus{
    outline: 0;
  }
}