@use "../../styles/variables" as *;

.link {
  width: 100%;
  display: flex;

  &-profile {
    justify-content: right;
  }
  &-login,
  &-registration,
  &-error {
    justify-content: center;
  }
}

.link_a {
  line-height: 11px;
  font-weight: $font-weight-medium;
  text-align: center;
  text-decoration: none;

  &-login {
    font-size: 12px;
    margin-top: 14px;
    color: $color-blue;
  }

  &-registration {
    font-size: 12px;
    margin-top: 14px;
    color: $color-blue;
  }

  &-profile {
    font-size: 14px;
    color: $color-grey;
  }

  &-error {
    font-size: 12px;
    text-align: center;
  }

  &-action {
    font-size: 13px;
    color: $color-blue;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &-logout {
    font-size: 13px;
    margin-top: 10px;
    color: red;
  }
}
